.header_top{
    background-color: rgb(1,41,65);
    height: 71.38px;
    width: 100%;
}
.header_bottom{
    background-color: rgb(28,120,182);
    height: 45px;
    width: 100%;
}
.header_top_content_left{
    position: absolute;
    left: 0;
}
.header_top_content_center{
    color: azure;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.header_top_content_right{
    position: absolute;
    right: 0;
}
.center_element{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.premier_plan{
    position:relative;
    z-index: 10;
}
.deuxieme_plan{
    position:relative;
    z-index: 1;
}
.zIndex{
    z-index: 10;
}